{:paths ["src/clj" "src/c" "resources"
         ]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/tools.cli {:mvn/version "1.0.206"}
        com.github.mwiede/jsch {:mvn/version "0.2.3"}
        nrepl/bencode {:mvn/version "1.1.0"}}

 :aliases
 {:native-image
  {
   :main-opts  ["-m" "clj.native-image" "bbssh.core"
                "--enable-https"
                "--no-fallback"
                "--allow-incomplete-classpath"
                "--enable-all-security-services"
                "-H:+ReportExceptionStackTraces"
                "-H:ConfigurationFileDirectories=graal-configs/"
                "--initialize-at-build-time"
                "--initialize-at-run-time=com.jcraft.jsch.PortWatcher"
                "-H:Name=bbssh"]
   :jvm-opts   ["-Dclojure.compiler.direct-linking=true"]
   :extra-deps {clj.native-image/clj.native-image
                {:git/url    "https://github.com/taylorwood/clj.native-image.git"
                 :exclusions [commons-logging/commons-logging
                              org.slf4j/slf4j-nop]
                 :sha        "7708e7fd4572459c81f6a6b8e44c96f41cdd92d4"}}}

  :codox {:extra-deps {codox/codox {:mvn/version "0.10.8"}
                       babashka/fs {:mvn/version "0.1.11"}}
          :exec-fn codox.main/generate-docs
          :exec-args {:source-paths ["codox-processed/bb"]
                      :metadata {:doc/format :markdown}
                      :output-path "target/docs"
                      :doc-paths ["docs"]
                      :themes [:epiccastle]
                      :name "bbssh"
                      :version "0.1.0-SNAPSHOT"
                      :description "A babashka pod providing SSH support"
                      :license {:name "Eclipse Public License 2.0"
                                :url "https://github.com/epiccastle/bbssh/blob/main/LICENSE"}}
          :extra-paths ["codox-processed/bb" "resources"]}

  :cider-clj {:extra-deps {cider/cider-nrepl {:mvn/version "0.22.4"}}
              :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}}}
