{:paths ["src/clj" "resources"
         ]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/tools.cli {:mvn/version "1.0.206"}
        com.github.mwiede/jsch {:mvn/version "0.2.3"}
        nrepl/bencode {:mvn/version "1.1.0"}}

 :aliases
 {:run-local
  {
   :extra-paths ["src/c/jni"]
   :jvm-opts ["-Djava.library.path=build"]
   :main-opts ["-m" "bbssh.core"]
   }

  :native-image
  {
   :extra-paths ["." "src/c/native"]
   :extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}
                org.clojure/tools.deps.alpha {:mvn/version "0.9.755"}
                org.clojure/tools.namespace {:mvn/version "1.0.0"}}
   :main-opts  ["-m" "build"
                ;;"-H:CCompilerOption={{PROJECT_ROOT}}/build/libbbssh.a"
                ]
   :jvm-opts   ["-Dclojure.compiler.direct-linking=true"]}

  :native-image-static-dynamic-lib-c
  {
   :extra-paths ["." "src/c/native"]
   :extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}
                org.clojure/tools.deps.alpha {:mvn/version "0.9.755"}
                org.clojure/tools.namespace {:mvn/version "1.0.0"}}
   :main-opts  ["-m" "build"
                "-H:+StaticExecutableWithDynamicLibC"]
   :jvm-opts   ["-Dclojure.compiler.direct-linking=true"]}

  :native-image-static
  {
   :extra-paths ["." "src/c/native"]
   :extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}
                org.clojure/tools.deps.alpha {:mvn/version "0.9.755"}
                org.clojure/tools.namespace {:mvn/version "1.0.0"}}
   :main-opts  ["-m" "build"
                "--static"]
   :jvm-opts   ["-Dclojure.compiler.direct-linking=true"]}

  :native-image-musl
  {
   :extra-paths ["." "src/c/native"]
   :extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}
                org.clojure/tools.deps.alpha {:mvn/version "0.9.755"}
                org.clojure/tools.namespace {:mvn/version "1.0.0"}}
   :main-opts  ["-m" "build"
                "--static"
                "--libc=musl"
                "-H:CCompilerOption=-Wl,-z,stack-size=2097152"]
   :jvm-opts   ["-Dclojure.compiler.direct-linking=true"]}

  :codox {:extra-deps {codox/codox {:mvn/version "0.10.8"}
                       babashka/fs {:mvn/version "0.1.11"}
                       io.epiccastle/codox-theme-epiccastle {:mvn/version "0.1.0-SNAPSHOT"}
                       }
          :exec-fn codox.main/generate-docs
          :exec-args {:source-paths ["codox-processed/bb"]
                      :metadata {:doc/format :markdown}
                      :output-path "target/docs"
                      :doc-paths ["docs"]
                      :themes [:epiccastle]
                      :name "bbssh"
                      :version "0.1.0"
                      :description "A babashka pod providing SSH support"
                      :license {:name "Eclipse Public License 2.0"
                                :url "https://github.com/epiccastle/bbssh/blob/main/LICENSE"}}
          :extra-paths ["codox-processed/bb" "resources"]}

  :cider-clj {:extra-deps {cider/cider-nrepl {:mvn/version "0.22.4"}}
              :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}}}
